@use 'src/styles/vars';

.header {
  padding: 2.5em 3em;
  text-align: center;
  background-color: vars.$primary;
  color: white;

  &__title {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &__subtitle {
    display: flex;
    justify-content: space-around;
    font-size: 2em;
    font-weight: vars.$thinFont;
  }

  &__form {
    display: none;

    &__input {
      width: 100px;
      padding: .6em;
      font-size: 1em;
    }

    &--open {
      display: block;
      margin-top: 1em;
    }
  }

  .showFormBtn {
    padding: .5rem 1rem;
    border: none;
    border-radius: 6px;
    background-color: white;
    color: vars.$primary;
    font-size: 1rem;
    font-weight: 700;
    transition: background-color 150ms ease-out;

    &:hover {
      background-color: vars.$hoveredText;
    }
  }


}
